body,
html {
  margin: 0;
  padding: 0;
  height: 100%;
  font-family: Arial, sans-serif;
}

.container {
  display: flex;
  height: 100%;
}

.sidebar {
  width: 300px;
  background-color: #2a2424;
  color: #fff;
  padding: 20px;
}

.sidebar-header {
  margin-bottom: 20px;
  border-bottom: 1px solid #fff;
  padding-bottom: 10px;
}

.menu-items {
  list-style-type: none;
  padding: 0;
}

.menu-items li {
  margin-bottom: 10px;
}

.menu-items li a {
  display: block;
  color: #fff;
  text-decoration: none;
  padding: 10px;
  border-radius: 10px;
}

.menu-items li a:hover {
  background-color: #1b1616;
}

.logout-btn {
  background-color: #f00;
  color: #fff;
  padding: 500px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  font-size: 16px;
  margin-top: 20px;
}

.logout-btn:hover {
  background-color: #d00;
}

.content {
  flex: 1;
  padding: 20px;
}

.content-header {
  margin-bottom: 20px;
}

.profile-info p {
  color: #333;
  font-size: 18px;
}
